:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}


.upload-file {
    max-width: 736px;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.button {
    display: block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.dropzone {
    border: 2px dashed #000;
    padding: 20px;
    text-align: center;
    position: relative;
}

.dropzone__file {
    display: none;
}

.dropzone--dragover {
    background-color: #f0f0f0;
}

.status {
    margin-top: 10px;
    font-weight: bold;
}


.file-drop-zone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: #f9f9f9;
}

.file-drop-zone p {
    margin: 0;
    color: #666;
}

.file-drop-zone ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: left;
}

.file-drop-zone li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.file-drop-zone li:last-child {
    border-bottom: none;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.drop-area:hover {
    background-color: #e9e9e9;
}

.site-menu {
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateX(-100%); /* Slide out to the left */
    position: absolute;

}

.site-menu.open {
    opacity: 1;
    transform: translateX(0);
    position: static;
}


.o_web_client_wrapper {
    transition: width 0.3s ease;
}














.region {
    transition: opacity 0.3s;
}

.region:hover {
    opacity: 0.8;
}

.info-box {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #333;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.region-title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.7);
}

.title-background {
    fill: white;
    fill-opacity: 0.7;
}

.shaxrisabz {
    font-size: 6px;
    fill: #FFFFFF;
}

.title-background {
    fill: #010D1D33;
}
